{% extends "base.html" %}

{% block body %}
<audio controls autoplay loop style="display: none;">
    <source src="{{ url_for('static', filename='audio/loop.mp3') }}">
</audio>
<div class="container text-center pt-3">
    <h1>Welcome to the Schemes Group Homepage</h1>
    <h3>(work in progress)</h3>
    <p>We are a rag-tag group of college students <b>SCHEMING</b> to make better projects than this homepage!</p>
    <a class="btn btn-primary" href="https://github.com/schemes-ohyeah">Our Github!</a>
</div>
{% endblock %}